div {
  background-color: rgb(173, 170, 170);
  border: .01px black solid;
}

.a {
  background-color: orangered;
}

.b {
  background-color: purple;
}

.c {
  background-color: greenyellow;
}

.d {
  background-color: rgb(133, 71, 71);
}